.category-item-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: #181818;
  color: white;
  overflow: hidden;
}
.category-item-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #181818;
  overflow: auto;
}
.category-list-item-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.category-heading {
  font-family: Assistant;
  font-size: 24px;
  font-weight: 700;

  text-align: left;
  margin-left: 15px;
}
.category-item-page-small {
  display: none;
}
@media (max-width: 560px) {
  .category-item-page-small {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .category-item-page {
    display: none;
  }
  .category-item-container {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100vh;
    overflow: hidden;
    background: #181818;
    color: white;
  }
  .category-list-item-details {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    flex-wrap: nowrap;
  }
  .category-heading {
    font-family: Assistant;
    font-size: 24px;
    font-weight: 700;

    text-align: left;
    margin-left: 15px;
  }
}
